<!DOCTYPE html>
<html lang="en">

<body>
    <div class="container">
      <div class="row  continueShopping">
         <div class="col-md-12">
            <h4>Congratulations! Your Order has been Placed Successfully.</h4>
            <a href="/" class="btn btn-dark">Continue Shopping</a>
         </div>
      </div>
    </div>
</body>
</html>